apiVersion: v1
kind: Service
metadata:
  name: redis-redis-master
  labels:
    app: redis
spec:
  type: {{ .Values.service.type }}
  clusterIP: None
  ports:
  - port: {{ .Values.service.port }}
    targetPort: redis
    protocol: TCP
    name: redis
  selector:
    app: redis

