replicaCount: 1

nameOverride: "auth-service"
fullnameOverride: "auth-service"

image:
  repository: shop-auth-service
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 9000

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 60

probes:
  liveness:
    path: /actuator/health/liveness
    initialDelaySeconds: 60
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3
  readiness:
    path: /actuator/health/readiness
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3
  startup:
    path: /actuator/health
    initialDelaySeconds: 0
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 30

env:
  DB_HOST: auth-db-postgresql
  REDIS_HOST: redis-redis-master
  REDIS_PORT: "6379"
  JAEGER_ENDPOINT: http://jaeger-collector:4318/v1/traces
  GRAYLOG_HOST: graylog
  GRAYLOG_PORT: "12201"
  OAUTH2_REDIRECT_URI: http://localhost:8080/authorized
  SPRING_SECURITY_OAUTH2_AUTHORIZATIONSERVER_ISSUER: http://auth-service:9000

postgresql:
  host: auth-db-postgresql
  port: 5432
  database: auth_db
  username: postgres
  password: postgres

