replicaCount: 1

image:
  repository: confluentinc/cp-kafka
  tag: "7.6.0"
  pullPolicy: IfNotPresent

zookeeper:
  image:
    repository: zookeeper
    tag: "3.9"

service:
  type: ClusterIP
  port: 9092

persistence:
  enabled: true
  storageClass: "standard"
  kafka:
    size: 2Gi
  zookeeper:
    size: 1Gi

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi
