# Database Configuration
DB_HOST=localhost

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Jaeger Configuration
JAEGER_ENDPOINT=http://localhost:4318/v1/traces

# Graylog Configuration
GRAYLOG_HOST=localhost
GRAYLOG_PORT=12201

# OAuth2 Configuration
OAUTH2_REDIRECT_URI=http://localhost:8080/authorized
SPRING_SECURITY_OAUTH2_AUTHORIZATIONSERVER_ISSUER=http://localhost:9000

