apiVersion: v1
kind: Service
metadata:
  name: jaeger-collector
  labels:
    app: jaeger
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.otlpGrpcPort }}
    targetPort: otlp-grpc
    protocol: TCP
    name: otlp-grpc
  - port: {{ .Values.service.otlpHttpPort }}
    targetPort: otlp-http
    protocol: TCP
    name: otlp-http
  - port: 14250
    targetPort: grpc
    protocol: TCP
    name: grpc
  selector:
    app: jaeger
---
apiVersion: v1
kind: Service
metadata:
  name: jaeger-ui
  labels:
    app: jaeger
spec:
  type: NodePort
  ports:
  - port: {{ .Values.service.uiPort }}
    targetPort: ui
    protocol: TCP
    name: ui
    nodePort: 31686
  selector:
    app: jaeger




