apiVersion: v1
kind: Service
metadata:
  name: kafka-kafka
  labels:
    app: kafka
spec:
  type: {{ .Values.service.type }}
  clusterIP: None
  ports:
  - port: {{ .Values.service.port }}
    targetPort: kafka
    protocol: TCP
    name: kafka
  selector:
    app: kafka

