apiVersion: v1
kind: Service
metadata:
  name: kafka-zookeeper
  labels:
    app: zookeeper
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - port: 2181
    targetPort: client
    protocol: TCP
    name: client
  - port: 2888
    targetPort: follower
    protocol: TCP
    name: follower
  - port: 3888
    targetPort: election
    protocol: TCP
    name: election
  selector:
    app: zookeeper

