apiVersion: v1
kind: Secret
metadata:
  name: grafana-secret
  labels:
    app: grafana
type: Opaque
data:
  admin-user: {{ .Values.admin.user | b64enc | quote }}
  admin-password: {{ .Values.admin.password | b64enc | quote }}

