apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "product-service.fullname" . }}
  labels:
    app: {{ include "product-service.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "product-service.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "product-service.name" . }}
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8081"
        prometheus.io/path: "/actuator/prometheus"
    spec:
      restartPolicy: Always
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: http
          containerPort: {{ .Values.service.port }}
        env:
        - name: DB_HOST
          value: {{ .Values.env.DB_HOST | quote }}
        - name: KAFKA_BOOTSTRAP_SERVERS
          value: {{ .Values.env.KAFKA_BOOTSTRAP_SERVERS | quote }}
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: {{ include "product-service.fullname" . }}
              key: postgres-username
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ include "product-service.fullname" . }}
              key: postgres-password
        - name: JAEGER_ENDPOINT
          value: {{ .Values.env.JAEGER_ENDPOINT | quote }}
        - name: GRAYLOG_HOST
          value: {{ .Values.env.GRAYLOG_HOST | quote }}
        - name: GRAYLOG_PORT
          value: {{ .Values.env.GRAYLOG_PORT | quote }}
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:postgresql://{{ .Values.env.DB_HOST }}:5432/{{ .Values.postgresql.database }}"
        - name: SPRING_DATASOURCE_USERNAME
          valueFrom:
            secretKeyRef:
              name: {{ include "product-service.fullname" . }}
              key: postgres-username
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ include "product-service.fullname" . }}
              key: postgres-password
        - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
          value: "{{ .Values.env.KAFKA_BOOTSTRAP_SERVERS }}"
        livenessProbe:
          httpGet:
            path: {{ .Values.probes.liveness.path }}
            port: http
          initialDelaySeconds: {{ .Values.probes.liveness.initialDelaySeconds }}
          periodSeconds: {{ .Values.probes.liveness.periodSeconds }}
          timeoutSeconds: {{ .Values.probes.liveness.timeoutSeconds }}
          failureThreshold: {{ .Values.probes.liveness.failureThreshold }}
        readinessProbe:
          httpGet:
            path: {{ .Values.probes.readiness.path }}
            port: http
          initialDelaySeconds: {{ .Values.probes.readiness.initialDelaySeconds }}
          periodSeconds: {{ .Values.probes.readiness.periodSeconds }}
          timeoutSeconds: {{ .Values.probes.readiness.timeoutSeconds }}
          failureThreshold: {{ .Values.probes.readiness.failureThreshold }}
        startupProbe:
          httpGet:
            path: {{ .Values.probes.startup.path }}
            port: http
          initialDelaySeconds: {{ .Values.probes.startup.initialDelaySeconds }}
          periodSeconds: {{ .Values.probes.startup.periodSeconds }}
          timeoutSeconds: {{ .Values.probes.startup.timeoutSeconds }}
          failureThreshold: {{ .Values.probes.startup.failureThreshold }}
        resources:
          limits:
            cpu: {{ .Values.resources.limits.cpu }}
            memory: {{ .Values.resources.limits.memory }}
          requests:
            cpu: {{ .Values.resources.requests.cpu }}
            memory: {{ .Values.resources.requests.memory }}
        volumeMounts:
        - name: config
          mountPath: /app/config
          readOnly: true
      volumes:
      - name: config
        configMap:
          name: {{ include "product-service.fullname" . }}-config

